<div class="container" id="contacto">
    <h2>Contacto</h2>

    <div id="texto" #textos>
        <p appResultado>
            Telefono: <br>
            15-2277-8269
        </p>
        <br>
        <p appResultado>
            Email: <br>
            nahuel.iovine.99@gmail.com
        </p>
        <br>
        <p appResultado>
            De enviar un mail, por favor, avisar como te pusiste en contacto conmigo. <br>
            Muchas gracias.
        </p>
    </div>
    

    <!--
    Tamaño del slider <input type="number" [(ngModel)]="widthSlider"/>
    <button (click)="cargarSlider()">Cargar</button>
    <button (click)="resetSlider()">Resetear</button>
    <button (click)="mostrarCaption()">Caption: {{etiquetaSlider}}</button>
    <div>
        <app-slider [ancho]="anchoToSlider" [etiqueta]="etiquetaSlider" (getAutor)="conseguirAutor($event)"
        ></app-slider>
    </div>

    {{autorCon.nombre + " - " + autorCon.mail}}
    -->
</div>