<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <img id="fotoPersonal" src="../../assets/image/yo.jpg">
    <p>
        Soy un programador entuciasta que hace tanto P.O.O. como Web. <br>
        Me considero un novato al que aun tiene que seguir aprendiendo, pero me veo capaz de lograr lo que me propongo. <br>
        Estudié en una escuela secuandaria de informática, donde aprendimos la lógica y lenguajes de programacion(Java, C++ y VS6), no obstante continué mis estudios de forma propia aprendiendo diversos lenguajes(JavaScript, TypeScript, Python3, etc.). <br>
        Actualmente, estoy estudiando en la UNSAM para la carrera de "INGENIERA ELECTRÓNICA". <br>
    </p>
</article>